*,
*::before,
*::after {
  box-sizing: border-box;
  // outline: solid 1px;
}

body {
  background: #0b0d19;
  color: $primary;
  font-size: 1.125rem;
  font-family: "Bellefair", serif;
  height: 100%;
}

a {
  text-decoration: none;
  color: white;
  display: inline-block;
  user-select: none;
}

img {
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bellefair", serif;
}

p {
  font-family: "Barlow", sans-serif;
  line-height: 1.78;
}

*::selection {
  background: #f2dcbb;
  color: black;
}
