.destination-img {
  position: relative;
  @include size(445px);
  @media (max-width: 992px) {
    @include size(350px);
  }
  @include pad {
    @include size(300px);
    margin-bottom: 53px;
  }
  @media (max-width: 576px) {
    @include size(170px);
  }
}

.destination-title {
  font-size: 6.25rem;
  @include pad {
    font-size: 5rem;
  }
  @include mobile {
    font-size: 3.5rem;
  }
}

.destination-content {
  width: 40%;
  @include pad {
    width: 85%;
  }
  @include mobile {
    width: 100%;
  }
  article {
    padding-bottom: 54px;
    @include pad {
      padding-bottom: 48px;
    }
    @include mobile {
      padding-bottom: 32px;
      font-size: 0.975rem;
    }
  }
}

div[data-img="destination-img-1"] {
  background: center/cover url("../images/destination/image-moon.png");
}

div[data-img="destination-img-2"] {
  background: center/cover url("../images/destination/image-mars.png");
}

div[data-img="destination-img-3"] {
  background: center/cover url("../images/destination/image-europa.png");
}
div[data-img="destination-img-4"] {
  background: center/cover url("../images/destination/image-titan.png");
}

.tab-wrapper {
  margin-bottom: 36px;
  @include pad {
    margin-bottom: 32px;
  }
  li:not(:last-child) {
    margin-right: 36px;
    @include pad {
      margin-right: 42px;
    }
    @media (max-width: 576px) {
      margin-right: 16px;
    }
  }
  a {
    padding: 12px 0;
    letter-spacing: 2.7px;
    position: relative;
    font-size: 1rem;
    color: $primary;
    @include mobile {
      font-size: 0.875rem;
    }
    &:hover {
      color: white;
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      background: #fff;
      height: 3px;
      width: 0px;
      transition: width 0.4s ease-in;
      @include pad {
        transition: none;
      }
    }
    &:hover::after {
      width: 100%;
    }
  }
}

.tab-item {
  &.active {
    color: white;
    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      background: #fff;
      height: 3px;
      width: 100%;
    }
  }
}

.distance {
  width: 156px;
  margin-right: 20%;
  @media (max-width: 992px) {
    margin-right: 8%;
  }
  @include mobile {
    width: 100%;
    margin-right: 0;
    margin-bottom: 32px;
  }
}

.distance,
.time {
  white-space: nowrap;
  h3 {
    letter-spacing: 2.36px;
  }
}

.time {
  @include pad {
    padding-bottom: 58px;
  }
}
